body{
    margin-top: 100px;
    display: flex;
    justify-content: center
  }
  
  p{
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 0;
    color: rgb(209, 201, 201);  
  }
  
  .list{
    box-shadow: 1px 1px 3px rgb(104, 103, 103);
    width: 500px;
    background-color: rgb(253, 251, 251);
  }
  
  .header{
    border: 1px solid rgb(209, 206, 206);
    padding: 5px;
    padding-left: 50px;
    font-family: sans-serif;
  }
  
  input{
    border: none;
    background-color: rgb(253, 251, 251);
    outline: none;
    font-size: 25px;
    color: rgb(180, 171, 171);
  }
  
  ::placeholder{
    color: rgb(180, 171, 171);
  }
  
  .items{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-family: sans-serif;
    border: 1px solid rgb(209, 206, 206);
    padding: 5px;
    padding-left: 50px;
    color: rgb(180, 171, 171);
  }
  
  .boton{
    border: none;
    background-color: rgb(253, 251, 251);
    color: rgb(253, 251, 251);
  }
  
  .boton:hover{
    color: rgb(141, 84, 84);
    font-size: 20px;
    width: 50px;
  }
  
  .footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(209, 206, 206);
    font-size: 20px;
    color: rgb(209, 198, 198);
    padding: 5px;
    padding-left: 20px;
  }
  
  .hoja2{
    box-shadow: 1px 1px 3px rgb(104, 103, 103);
    width: 498px;
    height: 6px;
    margin-left: 1px;
  }
  
  .hoja3{
    box-shadow: 1px 1px 3px rgb(104, 103, 103);
    width: 494px;
    height: 6px;
    margin-left: 3px;
  }
  
  .deleteAll{
    width: 150px;
    height: 35px;
    background-color: rgb(93, 46, 46);
    color: rgb(209, 198, 198);
  }